@import './layouts/def_styles.scss';
@import './layouts/fonts.scss';
@import './layouts/style-icomoon.scss';
@import './layouts/null.scss';

$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 575px;

@function num($number) {
  @return $number / ($number * 0 + 1);
}

@mixin resp-font($start, $finish, $startvp , $finishvp) {
  font-size: calc(
          #{$finish} +
          #{num($start) - num($finish)} *
          (100vw - #{$finishvp}) /
          #{num($startvp) - num($finishvp)}
  );
}

@mixin resp-property($property,$start, $finish, $startvp, $finishvp) {
  #{$property}: calc(
          #{$finish} +
          #{num($start) - num($finish)} *
          (100vw - #{$finishvp}) /
          #{num($startvp) - num($finishvp)}
  );
}

@mixin respond($breakpoint) {
  @media (max-width: $breakpoint) {
    @content
  }
}

$main-color: #00678a;
$secondary-color: #00678a;
$light-color: #fff;
$dark-color: #272838;
$icon-color: #09658c;

body {
  font-family: 'Montserrat', sans-serif;

}

* {
  box-sizing: border-box;
}

a {
  transition: 0.3s;

  &:hover {
    color: $secondary-color;
    transition: 0.3s;
  }

}

.faq {
  margin: 10vh auto;

  &-button {
    display: inline-block;
    border-radius: 5px;
    background-color: $secondary-color;
    padding: .75em 1em;
    font-size: 20px;
    font-weight: 500;
    color: $light-color;
    border: 1px solid transparent;
    @include respond($tablet) {
      font-size: 17px;
    }

    &:hover {
      transform: translateY(-5px);
      transition: 0.4s ease-in;
      background-color: #fff;
      border-color: $main-color;
      box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
      color: #000;
    }
  }

  &-title {
    font-size: 40px;
    font-weight: 800;
    @include respond($tablet) {
      font-size: 32px;
    }
  }

  &-pretitle {
    font-weight: 300;
    margin-bottom: .25em;
    font-size: 20px;
    @include respond($tablet) {
      font-size: 16px;
    }
  }

  &-content {
    transition: .5s ease-in-out;
    width: 31%;
    text-align: center;
    position: relative;
    padding: 40px 25px 20px 25px;
    @include respond($laptop) {
      padding: 30px 12px 20px 12px;
    }
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    @include respond($tablet) {
      width: 90%;
    }
    @include respond($mobile) {
      width: 100%;
    }

    &:hover {
      border-color: rgba($main-color, .3);

      .icon-question {
        background-color: $main-color;
        color: #fff;
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-around;
      margin: 70px 0 50px;
      @include respond($tablet) {
        flex-direction: column;
        align-items: center;
        gap: 70px;
      }
    }

    &-title {
      font-size: 20px;
      @include respond($desktop) {
        @include resp-font(20px, 16px, $desktop, $tablet);
      }
      @include respond($tablet) {
        @include resp-font(22px, 18px, $tablet, 320px);
      }
      color: $main-color;
      font-weight: 600;
      margin: 1em 0;
    }

    &-text {
      font-size: 16px;
      @include respond($desktop) {
        @include resp-font(16px, 13px, $desktop, $tablet);
      }
      @include respond($tablet) {
        @include resp-font(16px, 13px, $tablet, 320px);
      }
      line-height: 1.5;
    }

    &-icon {
      transition: .5s ease-in-out;
      text-align: center;
      font-size: 50px;
      font-weight: 300;
      color: $main-color;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border: 3px solid $main-color;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      line-height: 90px;
      @include respond($desktop) {
        @include resp-font(50px, 32px, $desktop, $tablet);
      }
      @include respond($desktop) {
        @include resp-property('width', 90px, 60px, $desktop, $tablet);
        @include resp-property('height', 90px, 60px, $desktop, $tablet);
        @include resp-property('line-height', 90px, 60px, $desktop, $tablet);
      }
      @include respond($tablet) {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 45px;
      }
    }
  }


}

.chooseus {
  max-width: 1920px;
  margin: 0 auto 60px auto;

  &-top {
    &-bg {
      padding: 0 20px;
      background-image: url("../images/chooseus.png");
      background-position: center bottom;
      background-size: cover;
      background-color: rgb(10 15 42 / 35%);
      background-blend-mode: darken;
      height: 25vw;
      @include respond($tablet) {
        height: 40vw;
      }
      @include respond($tablet) {
        height: 60vw;
      }
    }

    &-title {
      color: #fff;
      font-weight: 300;
      font-size: 20px;
      margin-bottom: .5em;
      text-transform: uppercase;
      @include respond($laptop) {
        font-size: 18px;
      }
      @include respond($tablet) {
        @include resp-font(18px, 12px, $tablet, 320px);
      }
    }

    &-text {
      color: $light-color;
      font-size: 40px;
      @include respond($desktop) {
        @include resp-font(40px, 30px, $desktop, $tablet);
      }
      @include respond($tablet) {
        @include resp-font(40px, 24px, $tablet, 320px);
      }
      font-weight: 800;
      @include respond($tablet) {
        text-align: center;
      }
    }
  }

  &-bottom {
    //height: calc(75vh - 60px);
    margin-top: calc(-12.5vw + 90px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    @include respond($laptop) {
      margin-top: calc(-14vw + 70px);
    }
    @include respond($tablet) {
      flex-direction: column;
      align-items: center;
      margin-top: calc(-25.5vw + 60px);
    }

    &-content {
      width: 40%;
      background-position: right bottom;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      height: 300px;
      box-shadow: 0 9px 20px 0 rgb(0 0 0 / 10%);
      transition: .3s;
      cursor: pointer;

      &:hover {
        transition: .3s;
        transform: translateY(-10px);
      }

      @include respond($laptop) {
        width: 45%;
        height: 250px;
      }
      @include respond($tablet) {
        width: 90%;
        max-width: 500px;
        height: 280px;
      }
      @include respond($mobile) {
        height: 240px;
      }

      &.bg1 {
        background-image: url("../images/chooseus1.webp");
      }

      &.bg2 {
        background-image: url("../images/chooseus2.webp");
      }

      &.bg3 {
        background-image: url("../images/chooseus3.jpeg");
      }

      &.bg4 {
        background-image: url("../images/chooseus4.jpeg");
      }

    }

    &-contentbg {
      background: #fff;
      width: 60%;
      color: #000;
      border-radius: 3% 0% 59% 3%;
      padding: 25px 25px 10px;
      height: 100%;
      @include respond($laptop) {
        padding: 15px 15px 10px;
      }
      @include respond($tablet) {
        width: 65%;
        padding: 25px 5% 15px 25px;
      }
      @include respond($mobile) {
        padding: 15px 5% 15px 15px;
      }
    }

    &-title {
      font-size: 20px;
      margin-bottom: 1.5em;
      @include respond($desktop) {
        @include resp-font(20px, 16px, $desktop, $tablet);
      }
      @include respond($tablet) {
        @include resp-font(22px, 15px, $tablet, 320px);
        margin-bottom: 1em;
      }
      font-weight: 700;
      color: $main-color;
    }

    &-text {
      font-size: 18px;
      @include respond($desktop) {
        @include resp-font(18px, 14px, $desktop, $tablet);
      }
      @include respond($tablet) {
        @include resp-font(18px, 12px, $tablet, 320px);
      }
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: auto;

  &.rtl {
    flex-direction: row-reverse;
    @include respond($laptop) {
      flex-direction: row;
    }
  }

  @include respond($laptop) {
    flex-direction: column;
  }

  &-preview {
    width: 50%;
    background-size: cover;
    background-position: center;
    background-color: rgb(10 15 42 / 35%);
    background-blend-mode: darken;
    @include respond($laptop) {
      width: 100%;
      height: 60vw;
      mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
      -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
      & + div {
        z-index: 1;
        margin-top: -50vw;
        margin-bottom: 5vw;
      }
    }
    @include respond($mobile) {
      height: 100vw;
      & + div {
        margin-top: -90vw;
      }
    }

  }

  &-inview {
    border-top: 1px solid rgba($main-color, .2);
    border-bottom: 1px solid rgba($main-color, .2);
    padding: calc(min(4vw, 60px)) calc(min(4vw, 75px));
    width: 50%;
    @include respond($laptop) {
      border: none;
      width: 100%;
    }

    &__caption {
      font-weight: 300;
      font-size: 20px;
      @include respond($laptop) {
        color: $main-color
      }
      @include respond($tablet) {
        @include resp-font(20px, 16px, $tablet, 320px)
      }
      text-transform: uppercase;
      margin-bottom: .5em;
    }

    &__title {
      font-size: 40px;
      @include respond($laptop) {
        color: #000;
      }
      @include respond($tablet) {
        @include resp-font(40px, 28px, $tablet, 320px)
      }
      font-weight: 700;
      color: $main-color;
    }

    &-content {
      font-size: 16px;
      margin-top: 3em;
      @include respond($laptop) {
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
      }
      @include respond($tablet) {
        @include resp-font(16px, 14px, $tablet, 320px);
      }

      img {
        width: 5em;
        height: 5em;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin-right: 1.5em;
        @include respond($laptop) {
          margin: 0 0 1em 0;
        }
      }
    }

    &-title {
      font-size: 1.5em;
      font-weight: 600;
      @include respond($laptop) {
        color: $main-color;
      }
    }

    &-text {
      margin-top: .5em;
      font-size: 16px;
    }
  }
}

.footer {
  padding: 60px 0 40px;
  font-size: 20px;
  @include respond($laptop) {
    font-size: 18px;
  }
  background: #000;
  color: #fff;

  &-wrap {
    display: flex;
    justify-content: space-between;
    @include respond($tablet) {
      flex-wrap: wrap;
    }
  }

  &__socials {
    display: flex;
    font-size: 2em;
    gap: 1em;
    @include respond($mobile) {
      justify-content: center;
    }
  }

  &-logo {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 2em;

    img {
      display: block;
      height: 1.7em;
    }

    @include respond($tablet) {
      margin: 0;
    }
  }


  &-info {
    width: 40%;
    @include respond($tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 2em;
    }
    @include respond($mobile) {
      flex-direction: column;
      gap: 1.5em;
    }
  }

  &-links {
    width: 30%;
    @include respond($tablet) {
      width: 50%;
    }
    @include respond($mobile) {
      width: 100%;
      margin-bottom: 2em;
      text-align: center;
    }

    &-title {
      font-size: 24px;
      @include respond($laptop) {
        font-size: 21px;
      }
      margin-bottom: 1em;
      font-weight: 700;
    }

    &-text {
      @include respond($tablet) {
        font-size: 18px;
      }

      div + div {
        margin-top: 1em;
      }
    }
  }

  &-contacts {
    width: 30%;
    @include respond($tablet) {
      width: 50%;
    }
    @include respond($mobile) {
      width: 100%;
      text-align: center;
    }

    &-title {
      font-size: 24px;
      margin-bottom: 1em;
      font-weight: 700;
      @include respond($laptop) {
        font-size: 21px;
      }
    }

    &__item {
      & + & {
        margin-top: 1em;
      }

      a::before {
        margin-right: 5px;
      }
    }
  }
}

.underfooter {
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: url("../images/underfooter-bg.jpg");
  background-color: rgb(10 15 42 / 35%);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;

  &-wrap {
    display: flex;
    justify-content: space-around;
    @include respond($mobile) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    & > div {
      text-align: center;
      padding: 25px;
      max-width: 25vw;
      border-radius: 10px;
      backdrop-filter: blur(5px) brightness(70%);
      box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
      cursor: default;
      @include respond($tablet) {
        padding: 15px;
      }
      @include respond($mobile) {
        max-width: none;
        width: 300px;
      }
    }
  }

  &-icon {
    font-size: 50px;
    @include respond($laptop) {
      @include resp-font(50px, 32px, $laptop, $mobile);
    }
    @include respond($mobile) {
      display: none;
    }
  }

  &-title {
    font-size: 30px;
    margin: .5em 0 .25em;
    font-weight: 700;
    @include respond($laptop) {
      @include resp-font(30px, 20px, $laptop, $mobile);
    }
    @include respond($mobile) {
      margin: 0 0 0.25em 0;
      @include resp-font(20px, 16px, $mobile, 320px);
    }
    @include respond($tablet) {
      font-size: 30px;
    }
  }

  &-text {
    font-size: 18px;
    @include respond($tablet) {
      font-size: 16px;
    }
    @include respond($mobile) {
      @include resp-font(18px, 16px, $mobile, 320px);
    }
  }
}

.whyus {
  margin: 10vh auto;

  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond($laptop) {
      flex-direction: column;
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: .5em;
    @include respond($mobile) {
      @include resp-font(32px, 24px, $mobile, 320px);
    }
  }

  &-content {
    padding: 35px;
    height: 100%;
    width: calc(80% - 400px);
    border-radius: 25px 0 0 25px;
    @include respond($laptop) {
      width: 100%;
      border-radius: 25px;
      padding-bottom: 180px;
    }
    @include respond($tablet) {
      padding: 15px 15px 180px 15px;
    }
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 7%);
  }


  &-edge {
    &-links {
      margin-top: 1em;

      a {
        font-weight: 300;
        color: #000;
      }

      li {
        & + & {
          margin-top: 1em;
        }

        :after {
          font-family: 'icomoon';
          content: '\e9c7';
          font-size: 16px;
          color: $main-color;
          margin-left: 5px;
        }

        :hover {
          border-bottom: solid 1px $main-color;
        }

        @include respond($mobile) {
          font-size: 14px;
        }
      }
    }

    &-text {
      font-size: 16px;
      @include respond($mobile) {
        font-size: 14px;
      }
    }
  }

  &-form {
    &-wrap {
      width: 430px;
      flex: 0 0 auto;
      @include respond($laptop) {
        width: 100%;
        max-width: 600px;
        margin-top: -150px;
      }
    }
  }
}

.howitworks {
  margin-top: 60px;
  margin-bottom: 10vh;

  &-info {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 3em auto;

    div + div {
      margin-top: 1em;
    }

    &-title {
      font-size: 32px;
      font-weight: 600;
      @include respond($mobile) {
        @include resp-font(32px, 26px, $mobile, 320px);
        margin-bottom: 1em;
      }
    }

    &-text {
      font-size: 16px;
      @include respond($mobile) {
        font-size: 14px;
      }
      line-height: 1.5;
    }
  }

  &-content {
    margin-top: .75em;
    font-size: 45px;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 7%);
    padding: 0 15px 15px 15px;
    transition: .5s ease-in-out;

    &:hover {
      transform: translateY(-20px);

      .howitworks__icon {
        transform: rotate(315deg) scale(1.15);
      }
    }

    &-wrap {
      display: flex;
      justify-content: center;
      gap: 1.5em;
    }

    @include respond($laptop) {
      &-wrap {
        flex-wrap: wrap;
        gap: 0;
      }
      width: 48%;
      max-width: 350px;
      margin: 1em 1%;
      font-size: 40px;
    }
    @include respond($mobile) {
      width: 100%;
      max-width: 400px;
      font-size: 36px;
    }

    &-title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: .8em;
      height: 2.4em;
      line-height: 1.2;
      @include respond($laptop) {
        height: auto;
      }
      @include respond($mobile) {
        font-size: 18px;
      }
    }

    &-text {
      font-size: 16px;
      @include respond($mobile) {
        font-size: 14px;
      }
    }
  }
}

.header {
  border-bottom: 1px solid rgb(255 255 255 / 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  &__top {
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: .5em 0;
    @include respond($mobile) {
      font-size: 14px;
    }
  }

  &-socials {
    display: flex;
    gap: 1em;
    align-items: center;

    a:hover {
      color: #fff;
    }

    &-icon {
      display: flex;
      align-items: flex-end;
    }
  }

  &-phone {
    margin-right: 1em;

    a {
      gap: .25em;
      display: flex;
      align-items: center;

      &:hover {
        color: #fff;
      }
    }

    span {
      @include respond($mobile) {
        display: none;
      }
    }

    &:before {
      padding-right: 10px;
      @include respond($tablet) {
        padding-right: 0;
      }
    }
  }

  &-wrap {
    .mw {
      height: 100%;
    }

    &.scrolled, &.mobile {
      transform: translate(0px, 0px);
      transition: 0.3s;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      color: $light-color;
    }

    &.mobile {
      background: #000;
    }

    height: 80px;
    @include respond(900px) {
      height: 60px;
    }
  }

  &-menu {
    @include respond($tablet) {
      position: relative;
      margin-right: 0;
    }

    &-links {
      display: flex;
      gap: 1em;
      font-size: 20px;
      @include respond($desktop) {
        @include resp-font(20px, 16px, $desktop, $tablet);
        gap: .5em;
      }
      font-weight: 500;
      color: #fff;
      align-items: center;

      a {
        overflow: hidden;
        position: relative;
        display: inline-block;
        padding: .2em .4em;
        border-radius: 10px;
      }

      a:hover, .current-menu-item a {
        background-color: #fff;
        color: $main-color;
      }

      @include respond($tablet) {
        a:hover, .current-menu-item a {
          background: transparent;
          color: #fff;
        }
      }

      @include respond($tablet) {
        font-size: 28px;
        display: none;
        overflow-y: auto;
        justify-content: space-evenly;
        flex-direction: column;
        position: fixed;
        height: calc(100vh - 60px);
        top: 60px;
        right: 0;
        background: $secondary-color;
        z-index: 11;
        width: 100vw;
        transition: .3s;
        transform: translateX(100%);
        a {
          border-bottom: 2px solid $main-color;
        }
      }


      &.active {
        transform: none;

      }

      &.visible {
        display: flex;

      }
    }
  }

  &-logo {
    display: block;
    height: 40%;

    img {
      height: 100%;
    }
  }
}

.headermedia {
  background-image: url("../images/header-bg.webp");
  background-color: rgb(10 15 42 / 44%);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;

  .scrolled {
    margin-top: 0;
    padding-top: 0;
  }

  &-info {
    &-wrap {
      display: flex;
      align-items: center;
      padding-top: 80px;
      @include respond(900px) {
        padding-top: 60px;
      }
      @include respond($tablet) {
        flex-direction: column;
      }
    }
  }

  &-preview {
    padding: 2em;
    color: $light-color;
    backdrop-filter: blur(10px) brightness(60%);
    background: rgba($main-color, .2);
    border-radius: 15px;
    @include respond($tablet) {
      padding: 7vw 5vw;
    }

    &-wrap {
      margin-left: 3%;
      width: 47%;
      max-width: 490px;
      @include respond($tablet) {
        margin: 40px 0 0 0;
        width: 100%;
        max-width: 600px;
      }
    }
  }

  &-form {
    &-wrap {
      margin: 100px 0;
      margin-left: auto;
      @include respond($desktop) {
        margin: 6vw auto;
      }
      @include respond($tablet) {
        margin: 40px 0 60px;
      }
    }
  }

  &-text {
    font-size: 20px;
    line-height: 1.5;
    @include respond($laptop) {
      @include resp-font(20px, 18px, $desktop, $tablet);
    }
    @include respond($tablet) {
      @include resp-font(18px, 15px, $tablet, 320px);
    }
  }

  &-title {
    font-size: 32px;
    margin-bottom: 1em;
    font-weight: 800;
    @include respond($desktop) {
      @include resp-font(32px, 24px, $desktop, $tablet);
    }
    @include respond($tablet) {
      @include resp-font(32px, 22px, $tablet, 320px);
    }
  }
}

.contactform {
  background: $light-color;
  align-items: center;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);

  &.onwhyus {
    &-form {
      border-radius: 10px;
      box-shadow: none;
      background-image: url("../images/contactform.jpg");
      background-size: cover;
      background-position: center center;
      background-color: rgb(10 15 42 / 35%);
      background-blend-mode: darken;

      .contactform-form {
        backdrop-filter: blur(5px);
        @include respond($mobile) {
          margin: 1em 0;
        }
      }

      .contactform-title {
        color: #fff;
      }
    }

    &-inputs {
      background: transparent;
    }
  }

  .message {
    min-height: 100px;
    resize: none;
    height: 100px;
  }

  &-title {
    font-size: 30px;
    @include respond($laptop) {
      @include resp-font(30px, 26px, $laptop, $tablet);
    }
    @include respond($tablet) {
      @include resp-font(30px, 22px, $tablet, 320px);
    }
    margin-bottom: 1.35em;
    font-weight: 700;
  }

  &-label {
    position: absolute;
    left: 15px;
    top: -8px;
    font-size: 14px;
    background-color: $light-color;
    z-index: 1;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    color: rgba($main-color, 1);
    font-weight: 300;

    &.onwhyus {

      &-label {
        background-color: rgba(255, 255, 255, .25);
      }
    }
  }

  &-input {
    border-radius: 10px;
    border: solid 1px $main-color;
    outline: none;
    padding: 15px;
    width: 100%;

    &.onwhyus {

      &-inputs {
        background-color: rgba(255, 255, 255, .25);

        &:focus {
          border-color: $secondary-color;
          transition: 0.3s;
        }

        &::placeholder {
          color: $light-color;
          font-size: 14px;
        }
      }
    }

    &::placeholder {
      color: #999999;
      font-size: 16px;
    }

  }

  &-form {
    position: relative;
    width: 100%;
    margin: 2em 0;

    &-submit {
      margin-right: auto;

      &-button {
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        border: 1px solid $main-color;
        border-radius: 8px;
        padding: 11px 20px;
        background-color: $main-color;
        transition: 0.4s ease-in;

        &:hover {
          transition: 0.3s;
          background-color: #fff;
          box-shadow: 0 5px 8px rgba(#000, 0.25);
          transform: translateY(-3px);
          color: #000;
          border-color: $main-color;
        }

        &:focus {
          box-shadow: none;
          transform: none;
        }
      }
    }
  }
}

.tariff {
  &-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    &.active {
      display: block;
      @include respond($tablet) {
        width: 70%;
      }
      @include respond($mobile) {
        width: 90%;
      }
    }
  }


  &-btn {

    position: absolute;
    bottom: 0;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -13px);
  }

  &-button {

    width: 200px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border: 1px solid $main-color;
    border-radius: 5px;
    padding: 11px 20px;
    background-color: $main-color;
    transition: 0.4s ease-in;

    &:hover {
      transition: 0.3s;
      background-color: #fff;
      box-shadow: 0 5px 8px rgba(#000, 0.25);
      transform: translateY(-3px);
      color: #000;
      border-color: $main-color;
    }

    &:focus {
      box-shadow: none;
      transform: none;
    }
  }
}

.comission {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
  @include respond($tablet) {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  &-block {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 9px 20px 0 rgb(0 0 0 / 10%);
    position: relative;
    @include respond($tablet) {
      width: 80%;
    }
    @include respond($mobile) {
      width: 90%;
    }
  }

  &-title {
    background-size: cover;
    background-position: center;
    height: 100px;
    border-radius: 5px;

    &.comission-bg1 {
      background: url("../images/tarrif-1.jpg"), linear-gradient(#eb01a5, #d13531);
      background-size: cover;
      background-position: center;
      box-shadow: inset 0 0 0 2000px rgba(20, 177, 187, 0.7);
    }

    &.comission-bg2 {
      background: url("../images/tariff-2.jpg"), linear-gradient(#eb01a5, #d13531);
      background-size: cover;
      background-position: center;
      box-shadow: inset 0 0 0 2000px rgba(20, 177, 187, 0.7);
    }
  }

  &-points {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 5px;
    margin-bottom: 50px;
  }

  &-content {
    display: flex;
    gap: 5px;
  }

  &-title {

  }

  &-name {
    padding: 15px;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }

  &-price {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 15px;
    padding-top: 0;
    gap: 5px;
    color: #fff;

    & > div:nth-child(1) {

    }

    & > div:nth-child(2) {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.icon-small {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: $secondary-color;
}

.icon-transparent {
  font-size: 14px;
  display: flex;
  align-items: center;
  visibility: hidden;
}

.none {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.extrafooter {
  background-color: #151515;
  color: $light-color;
  font-size: 14px;

  & > div {
    padding: 12px;
    display: flex;

    & > :nth-child(2) {
      margin-right: auto;
    }

    @include respond($mobile) {
      display: flex;
      justify-content: center;
      padding: 10px;
      span {
        margin: 5px 0 !important;
      }
    }
  }
}

.howitworks__icon {
  &-wrap {
    transform: translateY(-50%) rotate(45deg);
    background-color: $secondary-color;
    border-radius: .65em;
    border: 3px solid $secondary-color;
    display: inline-block;
    color: #818a91;
    text-align: center;
    margin-bottom: -75em;
    transition: .3s;
  }

  color: #fff;
  transition: .5s ease-in-out;
  transform: rotate(315deg);
  padding: .5em;
}

.scrollup {
  font-size: 46px;
  position: fixed;
  left: 1.5rem;
  bottom: 1.5rem;
  color: $secondary-color;
  cursor: pointer;
  display: none;
  opacity: 0.9;
  z-index: 1000;

  @include respond($tablet) {
    font-size: 36px;
    opacity: 0.8;
    left: .75rem;

  }
}

.burger {

  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: relative;

  span {
    display: block;
    width: 34px;
    height: 4px;
    background: #fff;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      background: inherit;
      top: -260%;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      top: auto;
      bottom: -260%;
    }
  }

  &-wrap {
    flex: 0 0 auto;
    display: none;


    @include respond($tablet) {
      display: block;
      flex: 0 0 auto;

    }
  }
}

.focusbackground {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  display: none;
  z-index: 1;

  &.active {
    display: block;

  }
}

.closing {
  font-size: 36px;
  background: $secondary-color;
  top: 0px;
  right: 10px;
  position: absolute;
  cursor: pointer;

  &.bg-transparent {
    background: none;
    display: none;
    @include respond($tablet) {
      display: block;
    }

    &:hover {
      background: none;
    }
  }

  &:hover {
    background: $main-color;

  }


}

.cf7-wrap {
  max-width: 360px;
}

.wpcf7-response-output {
  background: #fff;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 30px;
  color: $secondary-color;
}