@import './layouts/def_styles.scss';
@import './layouts/fonts.scss';
@import './layouts/style-icomoon.scss';
@import './layouts/null.scss';

$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 575px;

@function num($number) {
  @return $number / ($number * 0 + 1);
}

@mixin resp-font($start, $finish, $startvp , $finishvp) {
  font-size: calc(
          #{$finish} +
          #{num($start) - num($finish)} *
          (100vw - #{$finishvp}) /
          #{num($startvp) - num($finishvp)}
  );
}

@mixin resp-property($property,$start, $finish, $startvp, $finishvp) {
  #{$property}: calc(
          #{$finish} +
          #{num($start) - num($finish)} *
          (100vw - #{$finishvp}) /
          #{num($startvp) - num($finishvp)}
  );
}

@mixin respond($breakpoint) {
  @media (max-width: $breakpoint) {
    @content
  }
}

$main-color: #2EE59D;
$secondary-color: #00cecb;
$light-color: #fff;
$dark-color: #272838;
$icon-color: #09658c;

body {
  font-family: 'SFProDisplay', sans-serif;

}

* {
  box-sizing: border-box;
}

a {
  transition: 0.3s;

  &:hover {
    color: $secondary-color;
    transition: 0.3s;
  }

}

.faq {
  margin-bottom: 60px;

  &-button {
    border-radius: 5px;
    background-color: $secondary-color;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: $light-color;

    &:hover {
      transform: translateY(-5px);
      transition: 0.3s;
      background-color: $main-color;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
      color: #000;
    }
  }

  &-wrap {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    font-size: 30px;
    font-weight: 800;
  }

  &-pretitle {
    font-size: 20px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    text-align: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 9px 20px 0 rgb(0 0 0 / 10%);
    @include respond($laptop) {
      width: 60%;
    }
    @include respond($tablet) {
      width: 80%;
    }
    @include respond($mobile) {
      width: 90%;
    }

    &:hover {
      .icon-question {
        background-color: $main-color;
        transition: .3s;
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-evenly;
      margin-top: 70px;
      margin-bottom: 30px;
      @include respond($laptop) {
        flex-direction: column;
        align-items: center;
        gap: 70px;
      }
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;
      padding-top: 70px;
    }

    &-icon {
      text-align: center;
      font-size: 80px;
      color: #000;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);

      &.icon-question {
        background: $secondary-color;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        line-height: 80px;
        transition: .3s;

      }


    }
  }


}

.chooseus {
  margin-bottom: 60px;

  &-wrap {

  }

  &-top {
    &-bg {
      background-image: url("../images/chooseus.jpeg");
      background-position: center center;
      background-size: cover;
      background-color: rgb(1, 1, 1, 0.4);
      background-blend-mode: darken;
      height: 50vh;
      margin-bottom: calc(-25vh + 60px);
      @include respond($mobile) {
        margin-bottom: calc(-25vh + 85px);
      }
    }

    &-wrap {
      padding-right: 5px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }

    &-title {
      color: $light-color;
      font-size: 20px;
      text-transform: uppercase;
      @include respond($tablet) {
        text-align: center;
      }
    }

    &-text {
      color: $light-color;
      font-size: 40px;
      font-weight: 800;
      @include respond($laptop) {
        font-size: 38px;
      }
      @include respond($tablet) {
        text-align: center;
      }
      @include respond($mobile) {
        font-size: 30px;

      }
    }
  }

  &-bottom {
    //height: calc(75vh - 60px);

    &-title {
      font-size: 20px;
      font-weight: 700;
    }

    &-text {
      font-size: 18px;
    }

    &-contentwrap {
      padding-right: 5px;
      padding-left: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 30px;
      @include respond($laptop) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-content {
      width: 45%;
      background-position: right bottom;
      background-size: 100%;
      background-repeat: no-repeat;
      border-radius: 10px;
      height: 300px;
      box-shadow: 0 9px 20px 0 rgb(0 0 0 / 10%);
      transition: .3s;
      cursor: pointer;

      &:hover {
        transition: .3s;
        transform: translatey(-10px);
      }

      @include respond($laptop) {
        width: 90%;
      }
      @include respond($mobile) {
        height: 250px;
      }

      &.bg1 {
        background-image: url("../images/chooseus1.webp");
      }

      &.bg2 {
        background-image: url("../images/chooseus2.webp");
      }

      &.bg3 {
        background-image: url("../images/chooseus3.jpeg");
      }

      &.bg4 {
        background-image: url("../images/chooseus4.jpeg");
      }

    }

    &-contentbg {
      background: #fff;
      width: 60%;
      color: #000;
      border-radius: 3% 0% 59% 3%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px 35px 10px;
      height: 300px;
      @include respond($mobile) {
        width: 70%;
        padding: 5px 5px 5px;
        height: 250px;
      }
    }
  }
}

.features {
  display: flex;
  flex-direction: column;

  &-wrap {
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    margin-bottom: 65px;
    justify-content: space-between;

    &.second {
      @include respond($laptop) {
        flex-direction: column-reverse;
      }
    }

    @include respond($laptop) {

      margin-bottom: 45px;
      flex-direction: column;
      align-items: center;

    }
    @include respond($tablet) {

      margin-bottom: 35px;
    }

  }


  &-preview {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
    position: relative;


    @include respond($laptop) {
      width: 65%;
      margin-bottom: 30px;
    }
    @include respond($tablet) {
      width: 75%;
    }
    @include respond($mobile) {
      width: 90%;
    }

    &-title {
      display: flex;
      flex-direction: column;
      padding: 30px;
      font-size: 36px;
      font-weight: 800;
      gap: 20px;
      @include respond($desktop) {
        font-size: 30px;
      }

      &-pre {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        color: $secondary-color;

      }
    }

    &-img {
      display: flex;
      background-image: url("../images/features.jpeg");
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 480px;
      border-radius: 0 0 10px 10px;

    }

    &-button {
      /*margin-top: -10px;
      margin-right: 50%;*/
      position: absolute;
      bottom: -10px;
      left: 50px;
      transition: 0.3s;

      &:hover {
        transform: translateY(-5px);
        transition: 0.3s;
      }

      a {

        border-radius: 5px;
        background-color: $secondary-color;
        padding: 20px;
        font-size: 20px;
        font-weight: 500;
        color: $light-color;

        &:hover {

          background-color: $main-color;
          box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
          color: #000;


        }
      }
    }
  }

  &-inview {
    display: flex;
    width: calc(60% - 30px);
    justify-content: space-between;

    @include respond($laptop) {
      width: 100%;
      justify-content: space-around;
    }
    @include respond($mobile) {
      flex-direction: column;
      align-items: center;
    }

    &-doublewrap {
      display: flex;
      flex-direction: column;
      width: calc(50% - 15px);

      @include respond($laptop) {
        width: calc(50% - 25px);
      }
      @include respond($mobile) {
        width: 90%;
      }

    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      border-radius: 10px;
      /*margin: 10px;*/
      margin-bottom: 15px;
      margin-top: 15px;
      padding: 10px;
      height: 300px;
      box-shadow: 0 9px 20px 0 rgb(0 0 0 / 10%);
      transition: .3s;
      cursor: pointer;

      &:hover {
        transform: translatey(-2%);
        transition: .3s;


        .features-inview-icon {
          color: $main-color;
          transition: .3s;
        }
      }

    }

    &-icon {
      font-size: 60px;
      color: $secondary-color;
      transition: .3s;

    }

    &-title {
      font-size: 20px;
      font-weight: 600;
    }

    &-text {
      font-size: 16px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;

  &-bg {
    font-size: 20px;
    background: black;
    color: $light-color;
    padding-top: 1em;
    padding-bottom: 1em;

  }

  &-wrap {
    display: flex;

    justify-content: space-between;

    @include respond($laptop) {
      margin-bottom: 10px;

    }
    @include respond($tablet) {
      justify-content: space-around;

      margin-bottom: 20px;
    }

    /*@include respond($laptop) {
      flex-direction: column;
      justify-content: center;

      align-items: center;
      text-align: center;
    }*/


  }

  &__icons {
    &-socials {
      display: flex;
      font-size: 60px;
      gap: 1.5em;
      @include respond($mobile) {
        justify-content: center;
        gap: 0.5em;
      }
      /*
      @include respond($laptop) {

        justify-content: center;

        align-items: center;
        text-align: center;
      }*/


    }

    &-contacts {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      gap: 1em;

      @include respond($tablet) {
        font-size: 18px;
      }

    }
  }

  &-logo {
    display: flex;
    flex: 0 0 50%;


    padding-bottom: 1em;
    @include respond($tablet) {

    }

    img {
      display: block;
      width: 150px;
      @include respond($tablet) {
        width: 100px;
      }
    }
  }


  &-info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 30%;
    @include respond($laptop) {
      padding-right: 10px;
    }
    @include respond($tablet) {
      display: none;
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
      @include respond($laptop) {
        font-size: 18px;
      }
    }

    &-text {
      @include respond($laptop) {
        font-size: 18px;
      }
    }

  }

  &-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
    @include respond($laptop) {
      width: 40%;
    }
    @include respond($mobile) {
      width: 35%;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
      @include respond($tablet) {
        font-size: 20px;
      }
    }

    &-text {
      @include respond($tablet) {
        font-size: 18px;
      }
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
    @include respond($laptop) {
      width: 40%;
    }
    @include respond($tablet) {
      width: 60%;
    }
    @include respond($mobile) {
      width: 65%;
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
      @include respond($tablet) {
        font-size: 20px;
      }
    }

  }
}

.underfooter {
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: url("../images/underfooter-bg.webp");
  background-color: rgb(1, 1, 1, 0.4);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center center;
  color: $light-color;

  &-wrap {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
    @include respond($tablet) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    & > div {
      width: 30%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      padding: 1em;
      border: 0px solid transparent;
      border-radius: 10px;
      backdrop-filter: blur(1px) brightness(80%);
      box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
      cursor: default;
      @include respond($tablet) {
        width: 75%;
      }
      /* &:hover {
         backdrop-filter: blur(3px) brightness(60%);
       }*/
    }
  }

  &-icon {
    font-size: 50px;
  }

  &-title {
    font-size: 20px;
    font-weight: 700;
    @include respond($laptop) {
      font-size: 16px;
    }
    @include respond($tablet) {
      font-size: 30px;
    }
  }

  &-text {
    font-size: 18px;
    @include respond($laptop) {
      font-size: 16px;
    }
    @include respond($tablet) {
      font-size: 20px;
    }
    @include respond($mobile) {
      font-size: 18px;
    }
  }
}

.whyus {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 60px;

  &-wrap {
    display: flex;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    @include respond($tablet) {
      margin-left: 10px;
      margin-right: 10px;
      flex-direction: column-reverse;
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 800;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 10px;

    @include respond($desktop) {
      font-size: 30px;
    }
    @include respond($laptop) {
      font-size: 24px;
    }
    @include respond($tablet) {
      padding-bottom: 5%;
    }


  }

  &-content {
    justify-content: center;
    width: 60%;
    margin-left: auto;
    padding-left: 71px;
    padding-right: 71px;
    @include respond($tablet) {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &-edges {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 10%;

    @include respond($desktop) {
      gap: 40px;
    }
    @include respond($laptop) {
      flex-direction: column;
      gap: 30px;
    }
    @include respond($tablet) {
      padding-bottom: 5%;
    }
  }

  &-edge {
    width: 90%;
    display: flex;
    gap: 10px;


    /*&:hover {
      transform: translatey(-5px);
      transition: 0.3s;

      .whyus-edge-icon {
        color: $main-color;
        transition: 0.3s;
      }*/
    &-links {
      a {
        font-weight: 300;
        color: #000;
      }

      li {
        line-height: 1.5;

        :after {
          font-family: 'icomoon';
          content: '\e9c7';
          font-size: 16px;
          color: gray;
          //visibility: hidden;
          margin-left: 5px;

        }

        :hover {
          border-bottom: solid 1px;

          &:after {
            //visibility: visible;
          }
        }
      }
    }

    @include respond($laptop) {
      width: 100%;

    }
    @include respond($tablet) {
      flex-direction: column;
      align-items: center;

    }

    &-wrap {
      display: flex;
      flex-direction: column;

    }

    &-icon {
      font-size: 40px;
      padding-top: 10px;
      color: $secondary-color;
      transition: 0.3s;
    }

    &-title {
      font-size: 22px;
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 10px;
      @include respond($tablet) {
        font-size: 18px;
      }
    }

    &-text {
      font-size: 18px;
      @include respond($tablet) {
        font-size: 20px;
      }
    }
  }

  &-form {

    &-wrap {
      width: 40%;
      @include respond($tablet) {

        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}

.howitworks {
  margin-top: 60px;
  margin-bottom: 60px;


  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: .5em;
    padding-right: .5em;

  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    width: 50%;
    margin-bottom: 3em;
    @include respond($laptop) {
      width: 100%;
    }

    &-title {
      font-size: 28px;
      font-weight: 600;

    }

    &-text {
      font-size: 16px;

    }
  }

  &-content {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1em;
    //width: 33%;
    &:hover {

      .icon__square {
        transition: .3s;
        background-color: $main-color;

      }

      .icon__content {

        transform: rotate(315deg) scale(1.1);
        color: $light-color;
        font-size: 50px;
        padding: 0.5em;
        transition: .3s;
      }
    }

    @include respond($laptop) {
      font-size: 8px;
    }

    &-wrap {
      display: flex;
      //flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1em;
      @include respond($laptop) {
        flex-direction: column;
        gap: 2em;
      }

    }

    &-image {
      img {
        width: 100px;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
    }

    &-text {
      font-size: 20px;

    }
  }
}

.header {
  border-bottom: 1px solid rgb(255 255 255 / 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  transform: translate(0px, 0px);
  transition: 0.3s;

  &.slide {
    transform: translate(0px, -260px);
    transition: 0.3s;
  }

  &.scrolled {
    transform: translate(0px, 0px);
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: $light-color;
  }

  // background-color: black;
  &-socialslinks {
    &-wrap {
      display: flex;
      align-items: center;

      width: 100%;
      flex-direction: row-reverse;
      @include respond($tablet) {
        flex-direction: row;
        width: 100%;
      }
    }
  }

  &-socials {
    display: flex;
    gap: 10px;
    font-size: 30px;
    align-items: center;

    @include respond($tablet) {
      font-size: 40px;
      margin-right: auto;

    }


    &-icon {
      display: flex;
      align-items: flex-end;


    }
  }

  &-wrap {
    gap: 10px;
    display: flex;
    align-items: center;
    height: 90px;
    padding-left: .5em;
    padding-right: .5em;
  }

  &-menu {
    margin-right: auto;
    @include respond($tablet) {
      position: relative;
      margin-right: 0;
    }

    &-links {
      font-family: "SFProDisplay", sans-serif;
      display: flex;
      gap: 10px;
      font-size: 18px;

      color: $light-color;
      align-items: center;

      @include respond($tablet) {
        font-size: 36px;
        display: none;
        overflow-y: auto;
        justify-content: space-evenly;
        flex-direction: column;
        position: fixed;
        top: 90px;
        right: 0;
        background: $secondary-color;
        z-index: 11;
        width: 100vw;
        height: 70vh;
        transition: .3s;
        transform: translateX(100%);
        a {

          border-bottom: 2px solid $main-color;
        }
      }


      &.active {
        transform: none;

      }

      &.visible {
        display: flex;

      }
    }
  }

  &-phone {

    @include respond($tablet) {
      margin-left: auto;
    }

    a {

      transition: .3s;
      font-size: 20px;
      display: flex;
      align-items: center;

      @include respond($tablet) {
        font-size: 18px;
      }

    }

    span {
      @include respond($mobile) {
        display: none;
      }
    }


    :before {
      padding-right: 10px;
      font-size: 30px;
      @include respond($tablet) {
        font-size: 40px;
        padding-right: 0;
      }

    }

  }

  &-logo {
    img {

      width: 120px;
      @include respond(400px) {
        width: 95px;
      }
    }
  }
}

.headermedia {
  background-image: url("../images/underfooter-bg.webp");
  //height: calc(100vh);
  //margin-top: -91px;
  //padding-top: 91px;
  background-color: rgb(1, 1, 1, 0.4);
  background-blend-mode: darken;


  .scrolled {
    margin-top: 0;
    padding-top: 0;
  }


  &-preview {
    display: flex;
    flex-direction: column;

    gap: 1.5em;
    //height: 25%;
    padding: 2em;
    color: $light-color;
    backdrop-filter: blur(2px) brightness(60%);
    cursor: default;
    border: 0px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);

    &-wrap {
      display: flex;
      align-items: flex-start;
      width: 40%;
      padding-top: 5%;
      padding-left: 5%;
      @include respond($tablet) {
        width: 100%;
        padding-right: 5%;
      }
    }
  }

  &-info {
    &-wrap {

      padding-top: 91px;
      display: flex;

      //flex-direction: column;
      @include respond($tablet) {
        flex-direction: column;
      }

    }
  }

  &-form {


    &-wrap {
      display: flex;
      align-items: flex-end;
      margin-left: auto;
      padding-top: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
      @include respond($laptop) {
        padding-right: 5%;
      }
      @include respond($tablet) {
        justify-content: center;
        padding-left: 5%;
        margin-left: 0;
      }
    }
  }

  &-text {
    font-size: 24px;
    @include respond($desktop) {
      @include resp-font(24px, 20px, $desktop, $laptop,);
    }

    @include respond($laptop) {
      @include resp-font(20px, 18px, $desktop, $tablet,);
    }

    @include respond($mobile) {
      font-size: 18px;
    }
  }

  &-title {
    font-size: 36px;
    font-weight: 800;
    @include respond($desktop) {
      @include resp-font(36px, 28px, $desktop, $laptop,);
    }
    @include respond($laptop) {
      @include resp-font(28px, 22px, $desktop, $tablet,);
    }
    @include respond($mobile) {
      font-size: 26px;
    }
  }
}

.contactform {

  display: flex;
  flex-direction: column;
  gap: 2em;
  background: $light-color;
  align-items: center;
  padding: 30px;
  border: 0px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);

  &.onwhyus {
    &-form {
      border-radius: 0 10px 10px 0px;
      box-shadow: none;
      background-image: url("../images/features.jpeg");
      background-size: cover;
      background-position: center center;
      background-color: rgb(1, 1, 1, 0.4);
      background-blend-mode: darken;
      @include respond($tablet) {
        border-radius: 10px 10px 0px 0px;
      }
    }

    &-inputs {
      background: transparent;
    }
  }

  .message {
    //padding: 15px 15px 60px 15px
    min-height: 100px;
    resize: none;
    @include respond($desktop) {
      padding-bottom: 25%;
    }
    @include respond($laptop) {
      padding-bottom: 40%;
    }
    @include respond(800px) {
      padding-bottom: 50%;
    }
    @include respond($tablet) {
      padding-bottom: 0;
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 700;

  }

  &-label {
    position: absolute;
    left: 15px;
    top: -8px;
    font-size: 14px;
    background-color: $light-color;
    z-index: 1;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    color: #bfc4d5;

    &.onwhyus {

      &-label {
        background-color: rgba(255, 255, 255, .25);
      }
    }
  }

  &-input {
    border-radius: 10px;
    border: solid 1px #e2eff4;
    outline: none;
    padding: 15px;
    width: 100%;

    &.onwhyus {

      &-inputs {
        background-color: rgba(255, 255, 255, .25);

        &:focus {
          border-color: $secondary-color;
          transition: 0.3s;
        }

        &::placeholder {
          color: $light-color;
          font-size: 14px;
        }
      }
    }

    &::placeholder {
      color: #999999;
      font-size: 16px;
    }

  }

  &-form {
    position: relative;
    width: 100%;

    &-submit {

      margin-right: auto;

      button {
        color: $light-color;
        font-size: 16px;
        border: 2px solid $secondary-color;
        border-radius: 5px;
        padding: 11px 20px;
        background-color: $secondary-color;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          background-color: $main-color;
          box-shadow: 0px 3px 9px rgba(46, 229, 157, 0.4);
          color: #000;
          transform: translateY(-3px);
          border-color: $main-color;

        }

        &:focus {
          box-shadow: none;
          transform: none;
        }
      }
    }
  }
}

.extrafooter {
  &-link {
    &:hover {

    }
  }

  background-color: #101010;
  color: $light-color;
  font-size: 14px;

  & > div {
    padding: 10px;
    display: flex;

    & > :nth-child(2) {
      margin-right: auto;
    }


  }
}

.icon {
  &__square {
    transform: rotate(45deg);
    background-color: $secondary-color;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid $secondary-color;
    display: inline-block;
    color: #818a91;
    text-align: center;
    margin-bottom: 1.5em;
    transition: .3s;

  }

  &__content {
    transform: rotate(315deg);
    color: $light-color;
    font-size: 50px;
    padding: 0.5em;
    transition: .3s;
  }
}

.scrollup {
  font-size: 46px;
  position: fixed;
  left: 1.5rem;
  bottom: 1.5rem;
  color: $secondary-color;
  cursor: pointer;
  display: none;
  opacity: 0.9;
  z-index: 1000;

  @include respond($tablet) {
    font-size: 36px;
    opacity: 0.8;
    left: .75rem;

  }
}

.burger {

  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: relative;

  span {
    display: block;
    width: 34px;
    height: 4px;
    background: $secondary-color;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      background: inherit;
      top: -260%;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      top: auto;
      bottom: -260%;
    }
  }

  &-wrap {
    flex: 0 0 auto;
    display: none;


    @include respond($tablet) {
      display: block;
      flex: 0 0 auto;

    }
  }
}

.focusbackground {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  display: none;
  z-index: 1;

  &.active {
    display: block;

  }
}

.closing {
  font-size: 36px;
  background: $secondary-color;
  top: 0px;
  right: 10px;
  position: absolute;
  cursor: pointer;

  &.bg-transparent {
    background: none;
    display: none;
    @include respond($tablet) {
      display: block;
    }

    &:hover {
      background: none;
    }
  }

  &:hover {
    background: $main-color;

  }


}
