/*@font-face {
  font-family: lato;
  src: local("../fonts/fonts_custom/Lato"), url("../fonts/fonts_custom/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
/*
@font-face {
  font-family: SFProDisplay;
  src: url("../fonts/fonts-custom/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: SFProDisplay;
  src: url("../fonts/fonts-custom/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: SFProDisplay;
  src: url("../fonts/fonts-custom/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;}


@font-face {
  font-family: SFProDisplay;
  src: url('../fonts/fonts-custom/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: SFProDisplay;
  src: url('../fonts/fonts-custom/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: SFProDisplay;
  src: url('../fonts/fonts-custom/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: SFProDisplay;
  src: url('../fonts/fonts-custom/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}*/


